<h1>Welcome to Mula-x, <%= @admin.email %></h1>
<p>
  The account is created for you on mula-x,
  your email is: <%= @admin.email %><br>
  your password is: <strong><%= @password %></strong><br>
</p>

<p>Thanks for joining and have a great day!</p>